Sample Configuration File 
Modeless Interface with ANSI Function Keys
Anthony's Editor July 93
Copyright 1993, 1993 by Anthony Howe.  All rights reserved.  No warranty.

1:\
File read and write     \^R  \^W          Left, down, up, right   arrows\n\
Version, quit           \^K\^V  \^C  \^K\^C  Word left and right     \^A  \^D\n\
Macros                  \^KM             Page down and up        \^N  \^P\n\
Help on and off         F1              Front and end of line   \^F  \^E\n\
Redraw                  \^L              Top and bottom of file  \^T  \^B\n\
Insert                  type            Delete left and right   BACKSPACE \^X\n\
Literal escape          \^V              Block, cut, paste       F2  F3  F4\n\
Undo last               \^U              Invert case             F5\n

#.help_off
.literal        ^V
.cursor_up      ^[[A
.cursor_down    ^[[B
.cursor_left    ^[[D
.cursor_right   ^[[C
.page_up        ^P
.page_down      ^N
.word_left      ^A
.word_right     ^D
.line_left      ^F
.line_right     ^E
.file_top       ^T
.file_bottom    ^B
.delete_left    ^H
.delete_right   ^X
.help           ^[[11~
.block          ^[[12~
.cut            ^[[13~
.paste          ^[[14~
.flip_case      ^[[15~
.undo           ^U
.file_read      ^R
.file_write     ^W
.redraw         ^L
.quit_ask       ^C
.quit           ^K^C
.quit           ^K^X
.show_version   ^K^V
.macro          ^KM
.macro_define
.macro_define
.macro_define
.macro_define
.macro_define

2:%s: Terminated successfully.\n
3:%s: Unspecified error.\n
4:usage: %s [-f <config>] [file]\n
5:%s: Failed to initialize the screen.\n
6:%s: Problem with configuration file.\n
7:%s: Failed to allocate required memory.\n
8:Ok.
9:An error occured.
10:No more memory available.
11:File \"%s\" is too big to load.
12:Scrap is empty.  Nothing to paste.
13:Failed to find file \"%s\".
14:Failed to open file \"%s\".
15:Failed to close file \"%s\".
16:Failed to read file \"%s\".
17:Failed to write file \"%s\".
18:Not a portable POSIX file name.
19:File \"%s\" %ld bytes.
20:File \"%s\" %ld bytes saved.
21:File \"%s\" %ld bytes read.
22:File \"%s\" modified.
23:Invalid control character or \\number not 0..255.
24:No such macro defined.
25:No more macro space.
26:Interrupt.
27:<< EOF >>
28:Macro :
29:File not saved.  Quit (y/n) ?
30:[ Press a key to continue. ]
31:Read file :
32:Write file :
33:Write block :
34:\smore\s
35:\sy\b
36:\sn\b
37:\sq\b
38:Nothing to undo.
